* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    /* height: 1318px; */
    width: 1400px;
    margin-top: 40px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header {
    background-color: #fff;
    height: 76px;
}
.container {
    width: 940px;
    padding: 0 5px;
    margin: auto;
}
.head {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 26px;
    color: #fed136;
    font-weight: bold;
    font-family: "Wisdom Script", sans-serif;
}
.menu {
    flex-basis: 52%;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.item {
    text-align: center;
}
.link {
    color: #222;
    font-size: 14px;
    font-family: 'Montserrat regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.item:first-child {
    color: #fed136;
}
.middle {
    height: 585px;
    background-color: #fff;
}
.title {
    text-align: center;
    text-transform: uppercase;
}
.subtitle {
    text-align: center;
}
.box {
    display: flex;
    justify-content: space-between;
}
.bottom {
    height: 680px;
    background-color: #222222;
}
.map {
    width: 618px;
    height: 540px;
    margin: 118px 0 18px 778px;
}