* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* .wrapper {
    width: 1920px;
    height: 1690px;
    background-color: #fff;
} */
.container {
    max-width: 1220px;
    padding: 27px 5px 90px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.mogo {
    font-size: 30px;
    color: #9ce3d6;
    font-weight: bold;
    font-family: "Montserrat bold", sans-serif;
}
.menu {
    flex-basis: 60%;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-item {
    text-align: center;
}
.nav-item:hover {
    content: "";
    color: #f38181;
    padding-bottom: 12px;
    border-bottom: 3px solid #f38181;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.nav-item:hover .nav-link {
    color: #f38181;
}
.nav-link {
    color: #95e1d3;
    font-size: 14px;
    font-family: 'Montserrat regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.we-work-with {
    margin: 134px 0;
}
.title {
    font-size: 30px;
    font-family: 'Montserrat bold', sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
    position: relative;
}
.title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 580px;
    z-index: 1;
}
.subtitle {
    font-style: 24px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: #333;
    margin-bottom: 22px;
}
.service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.serv {
    flex-basis: 30%;
    margin-bottom: 100px;
}
.article {
    display: flex;
    justify-content: space-between;
}
.serv:nth-child(n+3) {
    margin-bottom: 0;
}
.box {
    flex-basis: 80%;
}
.img-article {
    width: 40px;
    height: 35px;
}
.article-title {
    font-size: 14px;
    font-family: "Montserrat regular", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 20px;
}
.article-text {
    font-size: 15px;
    font-family: "Roboto regular", sans-serif;
    color: #999999;
}
.text {
    font-size: 15px;
    font-family: "Roboto regular", sans-serif;
    color: #999;
    text-align: center;
    line-height: 24px;
    justify-content: center;
    margin-left: 124px;
}
.foto {
    position: relative;
    transition-property: all;
}
.foto-img {
    display: block;
    width: 380px;
    height: 474px;
    background-color: #95e1d3;
}
.foto:hover:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}
.medium {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foto:hover > .medium {
    display: block;
}
.foto:hover {
    transform: translate(-10px, -10px);
    transition-duration: 200ms;
    transition-timing-function: linear;
    box-shadow: 10px 10px #95e1d3;
}
.foto-img-hover {
    width: 380px;
    height: 474px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%);
}
.box-icon {
    width: 56px;
    height: 56px;
    background-color:#fce38a;
    text-align: center;
    padding: 14px 0;
}
.box-icon:hover {
    background-color: #95e1d3;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.team {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.caption {
    margin-top: 30px;
}
.name {
    font-size: 14px;
    font-family: "Montserrat regular", sans-serif;
    color: #333;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}
.profession {
    font-size: 15px;
    font-family: "Roboto LightItalic", sans-serif;
    color: #999;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}