* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
}
header {
    background-color: #fff;
    height: 90px;
    position: relative;
}
.logo, nav {
    display: inline-block;
    position: absolute;
}
.logo {
    font-size: 30px;
    text-transform: uppercase;
    left: 145px;
    top: 36px;
}
.logo::first-letter {
    color: #1abc9c;
}
nav {
    right: 144px;
    top: 42px;
    z-index: 2;
}
.item {
    display: inline-block;
    padding-left: 22px;
}
.item:first-child {
    padding-left: 0;
}
.link {
    text-transform: uppercase;
    font-size: 14px;
    color: #0f0101;
    line-height: 11px;
    font-weight: bold;
}
.item:first-child >.link {
    color: #46bfa9;
}
.slider {
    height: 600px;
    width: 100%;
    position: relative;
}
.slider:after {
    content: " ";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.522;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 0px;
    z-index: 3;
  }
  .slider-title, .slider-subtitle {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    left: 330px;
    z-index: 1;
  }
.slider-title {
    font-size: 60px;
    font-weight: bold;
    top: 218px;
}
.slider-subtitle {
    font-size: 24px;
    top: 298px;
}
.arrow {
    position: absolute;
    background-color: #1abc9c;
    color: #ffffff;
    width: 104px;
    height: 104px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    top: 224px;
}
.left {
    left: 144px;
}
.right {
    left: 1152px;
}
.collection {
    background-color: #e9f0fd;
    height: 676px;
    position: relative;
    padding-top: 100px;
}
.new { 
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #515151;
    text-align: center;
    position: relative;
    margin: auto;
}
.new:after {
    display: block;
    content: '';
    height: 7px;
    width: 160px;
    background: #1abc9c;
    position: absolute;
    top: 70px;
    left: 620px;
    z-index: 1;
}
.choose {
    position: absolute;
    top: 255px;
    left: 144px;
    z-index: 1;
}
.box {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}
.box:first-child {
    margin-left: 0;
}
.img {
    display: block;
}
.caption {
    position: absolute;
    top: 282px;
}
.thing, .price {
    display: inline-block;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 0 9px 10px;
}
.thing {
    width: 199px;
    background-color: #323232;
    text-align: left;
}
.price {
    width: 56px;
    background-color: #8c8c8c;
    text-align: center;
    margin-left: -4px;
}
.box:hover:after {
    display: block;
    content: "";
    width: 230px;
    height: 300px;
    position: absolute;
}
.cart {
    display: none;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box:hover > .cart {
    display: block;
}
.box:hover .thing {
    background-color: #1abc9c;
}
.box:hover .price {
    background-color: #7fd9c7;
}
.gray {
    background-color: rgba(14, 13, 13, 0.5);
    margin: 12px;
    position: relative;
    height: 260px;
    width: 234px;
    display: block;
}
.fa-shopping-cart {
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
}
.add, .icon-border {
    height: 50px;
    position: absolute;
    z-index: 1;
    border: 1px solid #fff;
}
.add {
    width: 164px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #323232;
    text-align: right;
    padding-right: 15px;
    line-height: 50px;
    top: 137px;
    left: 35px;
}
.icon-border {
    text-align: center;
    width: 50px;
    top: 80px;
 }
.icon {
    color: #fff;
    font-size: 30px;
    padding: 9px 0;
}
.heart {
    left: 35px;
}
.arrows {
    left: 93px;
    background-color: #1abc9c;
    border: none;
}
.clock {
    left: 150px;
}
.footer {
    background-color: #000;
    height: 90px;
}
.all {
    color: #fff;
    text-align: center;
    padding: 36px 0px;
    font-size: 16px;
    height: 17px;
}
span {
    color: #46bfa9;
}