.container {
    background-image: url("page-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0px 60px;
}
.wrapper {
    width: 1026px;
    /* height: 1300px; */
    background: white;
    padding: 116px 62px 86px;
    margin: auto;
}
.top {
    border-bottom: 1px solid gray;
    padding-bottom: 48px;
    margin-bottom: 58px;
}
.left {
    display: inline-block;
    vertical-align: top;
    width: 71%;
}
.layer {
    width: 358px;
    height: 286px;
    float: left;
    margin: 0px 22px 22px 0px;
}
.clearfix::after {
    content:" ";
    display: block;
    clear: both;
}
.right {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin-left: 4%;
    counter-reset: counter;
}
.title {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #263555;
    line-height: 1.2;
    margin-bottom: 48px; 
}
.subtitle {
    font-size: 15px;
    color: #263555;
    line-height: 19px;
    margin-bottom: 14px;
}
.text {
    font-size: 13px;
    vertical-align: top;
    line-height: 19px;
}
.firth {
    margin-bottom: 16px;
}
.list {
    counter-increment: counter;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 30px;
}
.list:last-child {
    margin-bottom: 0px;
}
.list-one {
    display: inline-block;
    width: 164px;
}
.list::before {
    content: counter(counter);
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #4d8fe6;
    border-radius: 50px;
    text-align: center;
    line-height: 26px;
    margin: 5px 14px 0 0;
    color: #fff;
    vertical-align: top;
}
.what {
    margin: 0px;
}
.cum {
    margin: 68px 0px 30px;
}
.column {
    columns: 2;
    margin-top: 28px;
}
.arrow {
    font-size: 15px;
    font-weight: bold;
    line-height: 38px;
    color: #263555;
}
.arrow::before {
    content: " ";
    display: inline-block;
    background-image: url("Layer 8.png");
    height: 15px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 14px;
}
.test {
    margin-bottom: 25px;
}

.comma::before {
    content: "\201C";
}
.comma::after {
    content: "\201D";
}
.border {
    background-color: #d3d3d3;
    border-radius: 4px;
    /* width: 210px; */
    height: 190px;
    padding: 23px;
    border: 1px solid gray;
    margin-bottom: 30px;
}
.mark {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #263555;
    text-align: center;
}
.director {
    font-size: 12px;
    text-align: center;
    height: 14px;
    color: rgb(78, 80, 80);
}