@import 'normalize.css'; 
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wrapper-img {
    width: 100%;
    height: 1000px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 140, 138, 0.8)), to(rgba(239, 214, 133, 0.8))),;
    background-image: -webkit-linear-gradient(top, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%),;
    background-image: -o-linear-gradient(top, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%),;
    background-image: linear-gradient(180deg, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%),
    url(../picture/Layer15.png),
    url(../picture/Layer15@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.container {
    max-width: 1220px;
    padding: 27px 5px 0px;
    margin: auto;
}
.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 165px;
}
.mogo {
    font-size: 30px;
    color: #9ce3d6;
    font-weight: bold;
    font-family: "Montserrat bold", sans-serif;
    line-height: 36px;
}
.nav {
    -ms-flex-preferred-size: 40.98%;
    flex-basis: 40.98%;
}
.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.menu__item {
    text-align: center;
}
.menu__item:hover {
    content: "";
    color: #f38181;
    padding-bottom: 12px;
    border-bottom: 3px solid #f38181;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}
.menu__item:hover:nth-child(n+6) {
    border-bottom: none;
}
.menu__item:hover .menu__link {
    color: #f38181;
}
.menu__link {
    color: #95e1d3;
    font-size: 14px;
    font-family: 'Montserrat regular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 14px;
}
.header__title {
    font-size: 150px;
    font-family: 'Montserrat bold', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 820px;
    margin: 0 auto 120px;
}
.button {
    display: block;
    font-size: 14px;
    font-family: 'Montserrat bold', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: solid 3px #fff;
    background-color:rgba(0, 0, 0, -1.5);
    margin: 0 auto;
    padding: 10px 28px;
}
.we-work-with {
    margin: 134px 0;
}
.title {
    font-size: 30px;
    font-family: 'Montserrat bold', sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
    position: relative;
}
.title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 65px;
    left: 580px;
    z-index: 1;
}
.subtitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: #333;
    margin-bottom: 22px;
    line-height: 24px;
}
.header__subtitle--size {
    font-size: 72px;
    color: #fff;
    margin-bottom: 50px;
}
.service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.serv {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-bottom: 96px;
}
.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.serv:nth-child(n+3) {
    margin-bottom: 0;
}
.box {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}
.we-work-with__img {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
}
.caption {
    font-family: "Montserrat regular", sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
}
.text {
    font-size: 15px;
    font-family: "Roboto regular", sans-serif;
    color: #999;
    line-height: 24px;
}
.we-work-with__title--left {
    text-align: left;
    margin-bottom: 16px;
}
.who-we-are__caption--name {
    margin-bottom: 11px;
}
.who-we-are__text--center {
    text-align: center;
    margin-left: 124px;
}
.foto {
    position: relative;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}
.foto-img {
    display: block;
    background-color: #95e1d3;
}
.foto:hover:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}
.medium {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.foto:hover > .medium {
    display: block;
}
.foto:hover {
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-box-shadow: 10px 10px #95e1d3;
    box-shadow: 10px 10px #95e1d3;
}
.icons-container {
    width: 380px;
    height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 140, 138, 0.8)), to(rgba(239, 214, 133, 0.8)));
    background-image: -webkit-linear-gradient(top, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%);
    background-image: linear-gradient(180deg, rgba(240, 140, 138, 0.8) 0%, rgba(239, 214, 133, 0.8) 100%);
}
.box-icon {
    width: 56px;
    height: 56px;
    background-color:#fce38a;
    text-align: center;
    padding: 14px 0 15px;
    margin-right: 1px;
}
.box-icon:last-child {
    margin-right: 0;
}
.box-icon:hover {
    background-color: #f38181;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
       transition-duration: 200ms;
-webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
       transition-timing-function: linear;
}
.svg {
    fill: #f38181;
}
.box-icon:hover .svg {
    fill: #fff;
}
.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 86px;
}
.figcaption {
    margin-top: 30px;
}

.who-we-are__profession {
    font-size: 15px;
    font-family: "Roboto LightItalic", sans-serif;
    color: #999;
    font-style: italic;
    line-height: 24px;
    text-align: center;
}
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 85px;
}
.date__footer--font {
    text-transform: none;
}
.span__footer {
    color: #f38181;
}
.input {
    height: 36px;
    width: 230px;
    font-size: 15px;
    font-family: "Roboto LightItalic", sans-serif;
    color: #ccc;
    text-align: left;
    padding: 13px 0 13px 13px;
}
.subscribe {
    height: 36px;
    width: 150px;
    background-color: #95e1d3;
    color: #fff;
    font-family: 'Montserrat bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-left: -10px;
}